<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'library/css/bootstrap.min.css' %}">
    <script src="{% static 'library/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container my-md-4 bd-layout">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
